[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
certifi = "==2026.1.4"
distlib = "==0.4.0"
filelock = "==3.20.3"
numpy = "==2.4.1"
packaging = "==25.0"
pipenv = "==2026.0.3"
platformdirs = "==4.5.1"
virtualenv = "==20.36.1"

[dev-packages]

[requires]
